h2 {
	 font-size: 26px;
	 margin: 20px 0;
	 text-align: center;
	 
	 
}
 h2 small {
	 font-size: 0.5em;
}
 .responsive-table li {
	 border-radius: 3px;
	 padding: 25px 30px;
	 display: flex;
	 justify-content: space-between;
	 margin-bottom: 25px;
	 
}
 .responsive-table .table-header {
	background-color: #303F9F ;
	 font-size: 14px;
	 text-transform: uppercase;
	 letter-spacing: 0.03em;
     color: #fff;
	 border-radius: 10px;
	 
}
 .responsive-table .table-row {
	 background-color: #fff;
	 box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
  .col-1 {
	 flex-basis: 10%;
	 
}
 .col-2 {
	 flex-basis: 40%;
	 
}
  .col-3 {
	 flex-basis: 25%;
	 
}
  .col-4 {
	 flex-basis: 25%;
	 
}
.col-5 {
    margin-right:10px ;
	
}
.col-6 {
    margin-left:10px ;
	
}
 @media all and (max-width: 767px) {
	 .responsive-table .table-header {
		 display: none;
	}
	 .responsive-table li {
		 display: block;
	}
	 .responsive-table .col {
		 flex-basis: 100%;
	}
	 .responsive-table .col {
		 display: flex;
		 padding: 10px 0;
	}
	 .responsive-table .col:before {
		 color: #6c7a89;
		 padding-right: 10px;
		 content: attr(data-label);
		 flex-basis: 50%;
		 text-align: right;
	}
}
 .btn{
  
    text-align: right;
    
 }
 button{
    background-color: #303F9F ;
    border: none;
    border-radius: 30px;
    color: white;
    width: 80px;
    height: 60px;
	
 }